<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunfeng.dao.mapper.PermissionRouterMapper">
    <!--字段映射-->
    <resultMap id="permissionRouterMap" type="com.chunfeng.dao.entity.PermissionRouter">
        <result column="permission_id" property="permissionId"/>
        <result column="router_id" property="routerId"/>
    </resultMap>
    <!--条件查询关系-->
    <select id="selectAllPermissionRouter" resultType="com.chunfeng.dao.entity.PermissionRouter"
            parameterType="com.chunfeng.dao.entity.PermissionRouter" resultMap="permissionRouterMap">
        select id, permission_id, router_id
        from permission_router
        <where>
            <if test="id!='' and id!=null">
                id=#{id}
            </if>
            <if test="permissionId!='' and permissionId!=null">
                and permission_id=#{permissionId}
            </if>
            <if test="routerId!='' and routerId!=null">
                and router_id=#{routerId}
            </if>
        </where>
    </select>
    <!--根据关系ID查询关系信息-->
    <select id="selectAllPermissionRouterById" resultType="com.chunfeng.dao.entity.PermissionRouter"
            resultMap="permissionRouterMap">
        select id, permission_id, router_id
        from permission_router
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ;
    </select>
    <!--根据路由ID查询权限ID-->
    <select id="selectAllPermissionRouterByRouterId" resultType="java.lang.String" resultMap="permissionRouterMap">
        select permission_id
        from permission_router
        where
        router_id in
        <foreach collection="rids" item="rid" open="(" separator="," close=")">
            #{rids}
        </foreach>
    </select>
    <!--插入一条关系数据-->
    <insert id="insertPermissionRouter" parameterType="com.chunfeng.dao.entity.PermissionRouter">
        insert into permission_router (id, permission_id, router_id, create_user, create_time)
        <foreach collection="prs" item="pr" open="values" separator="," close=";">
            (#{pr.id}, #{pr.permissionId}, #{pr.routerId}, #{pr.createUser}, #{pr.createTime})
        </foreach>
    </insert>
    <!--根据关系ID批量修改关系数据-->
    <update id="updatePermissionRouterById">
        <foreach collection="prs" item="pr" separator=";">
            update permission_router
            <set>
                <if test=" pr.permissionId!='' and  pr.permissionId!=null">
                    permission_id=#{pr.permissionId}
                </if>
                <if test=" pr.routerId!='' and  pr.routerId!=null">
                    ,router_id=#{pr.routerId}
                </if>
                <if test=" pr.updateUser!='' and  pr.updateUser!=null">
                    ,update_user=#{pr.updateUser}
                </if>
                <if test=" pr.updateTime!='' and  pr.updateTime!=null">
                    ,update_time=#{pr.updateTime}
                </if>
            </set>
            where id=#{pr.id}
        </foreach>
    </update>
    <!--根据关系ID批量解绑关系信息-->
    <delete id="deletePermissionRouterById" parameterType="list">
        delete
        from permission_router
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>