<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunfeng.dao.mapper.ProblemExamMapper">
    <!--字段映射-->
    <resultMap id="problemExamMap" type="com.chunfeng.dao.entity.ProblemExam">
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!--条件查询关系-->
    <select id="selectAllProblemExam" resultType="com.chunfeng.dao.entity.ProblemExam"
            parameterType="com.chunfeng.dao.entity.ProblemExam"
            resultMap="problemExamMap">
        select id, exam_id, permission
        from problem_exam
        <where>
            <if test="id!='' and id!=null">
                id=#{id}
            </if>
            <if test="permissionId!='' and permissionId!=null">
                and permission_id=#{permissionId}
            </if>
            <if test="roleId!='' and roleId!=null">
                and role_id=#{roleId}
            </if>
        </where>
    </select>
    <!--根据关系ID查询关系信息-->
    <select id="selectAllProblemExamById" resultType="list"
            resultMap="problemExamMap">
        select id, exam_id, permission
        from problem_exam
        <where>
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ;
    </select>
    <!--插入一条关系数据-->
    <insert id="insertProblemExam">
        insert into problem_exam (id, exam_id, permission, create_user, create_time)
        values (#{id}, #{examId}, #{permissionId}, #{createUser}, #{createTime});
    </insert>
    <!--根据关系ID修改一条关系数据-->
    <update id="updateProblemExamById">
        update problem_exam
        <set>
            <if test="examId!='' and examId!=null">
                exam_id=#{examId}
            </if>
            <if test="permissionId!='' and permissionId!=null">
                ,permission_id=#{permissionId}
            </if>
            <if test="updateUser!='' and updateUser!=null">
                ,update_user=#{updateUser}
            </if>
            <if test="updateTime!='' and updateTime!=null">
                ,update_time=#{updateTime}
            </if>
        </set>
        where id=#{id};
    </update>
    <!--根据关系ID批量删除关系信息-->
    <delete id="deleteProblemExamById" parameterType="list">
        delete
        from problem_exam
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>