<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunfeng.dao.mapper.RoleMapper">
    <!--条件查询角色信息-->
    <select id="selectAllRole" resultType="com.chunfeng.dao.entity.Role">
        select id, name
        from role
        <where>
            <if test="id!='' and id!=null">
                and id=#{id}
            </if>
            <if test="name!='' and name!=null">
                and name like CONCAT('%', #{name}, '%')
            </if>

        </where>
        ;
    </select>
    <!--根据ID查询角色-->
    <select id="selectAllRoleById" resultType="list">
        select id, name
        from role
        <where>
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ;
    </select>
    <!--插入一条角色信息-->
    <insert id="insertRole">
        insert into role (id, name, create_user, create_time)
        values (#{id}, #{name}, #{createUser}, #{createTime});
    </insert>
    <!--修改一条角色信息-->
    <update id="updateRoleById">
        update role
        <set>
            <if test="name!='' and name!=null">
                name=#{name}
            </if>
            <if test="updateUser!='' and updateUser!=null">
                ,update_user=#{updateUser}
            </if>
            <if test="updateTime!='' and updateTime!=null">
                ,update_time=#{updateTime}
            </if>
        </set>
        where id=#{id};
    </update>
    <!--根据角色ID批量删除角色信息-->
    <delete id="deleteRoleById" parameterType="list">
        delete
        from role
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>