<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunfeng.dao.mapper.UserExamMapper">
    <!--字段映射-->
    <resultMap id="userExamRole" type="com.chunfeng.dao.entity.UserExam">
        <result column="user_id" property="userId"/>
        <result column="exam_id" property="examId"/>
    </resultMap>
    <!--条件查询关系-->
    <select id="selectAllUserExam" resultType="com.chunfeng.dao.entity.UserExam"
            parameterType="com.chunfeng.dao.entity.UserExam" resultMap="userExamRole">
        select id,user_id,exam_id
        from user_exam
        <where>
            <if test="id!='' and id!=null">
                id=#{id}
            </if>
            <if test="userId!='' and userId!=null">
                and user_id=#{userId}
            </if>
            <if test="examId!='' and examId!=null">
                and exam_id=#{examId}
            </if>
            <if test="score!=null">
                and score=#{score}
            </if>
        </where>
    </select>
    <!--根据关系ID查询关系信息-->
    <select id="selectAllUserExamById" resultType="com.chunfeng.dao.entity.UserExam" resultMap="userExamRole">
        select id, user_id,exam_id
        from user_exam
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ;
    </select>
    <!--按条件批量查询符合条件的个数-->
    <select id="selectAllUserExamCount" resultType="java.lang.Integer">
        select COUNT(id)
        from user_exam
        <where>
            <foreach collection="ues" item="id" open="(" separator="and" close=")">
                <if test="id.userId!=null and id.userId!=''">
                    user_id=#{id.userId}
                </if>
                <if test="id.examId!=null and id.examId!=''">
                    and exam_id=#{id.examId}
                </if>
                <if test="score!=null">
                    and score=#{score}
                </if>
            </foreach>
        </where>
        ;
    </select>
    <!--插入一条关系数据-->
    <insert id="insertUserExam">
        insert into user_exam (id, exam_id, user_id,score, create_user, create_time)
        <foreach collection="ues" item="ue" open="values" separator="," close=";">
            (#{ue.id}, #{ue.examId}, #{ue.userId},#{ue.score}, #{ue.createUser}, #{ue.createTime})
        </foreach>
    </insert>
    <!--根据关系ID批量修改关系数据-->
    <update id="updateUserExamById">
        <foreach collection="ues" item="ue" separator="," close=";">
            update user_exam
            <set>
                <if test="ue.examId!='' and ue.examId!=null">
                    exam_id=#{ue.examId}
                </if>
                <if test="ue.userId!='' and ue.userId!=null">
                    ,user_id=#{ue.userId}
                </if>
                <if test="score!=null">
                    ,score=#{up.score}
                </if>
                <if test="ue.updateUser!='' and ue.updateUser!=null">
                    ,update_user=#{ue.updateUser}
                </if>
                <if test="ue.updateTime!='' and ue.updateTime!=null">
                    ,update_time=#{ue.updateTime}
                </if>
            </set>
            where id=#{id}
        </foreach>
    </update>
    <!--根据关系ID批量解绑关系信息-->
    <delete id="deleteUserExamById" parameterType="list">
        delete
        from user_exam
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--根据用户ID批量解绑关系信息-->
    <delete id="deleteUserExamByPro">
        delete
        from user_exam
        where
        user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--根据试卷ID批量解绑关系信息-->
    <delete id="deleteUserExamByExam">
        delete
        from user_exam
        where
        exam_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>