<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunfeng.dao.mapper.UserMapper">
    <!--字段映射-->
    <resultMap id="userMap" type="com.chunfeng.dao.entity.User">
        <result column="role.name" property="roleName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!--条件查询用户-->
    <select id="selectAllUser" resultType="com.chunfeng.dao.entity.User" parameterType="com.chunfeng.dao.entity.User"
            resultMap="userMap">
        select user.id,
        user.name,
        avatar,
        sex,
        role.name,
        email,
        phone,
        status
        from user,
        role
        <where>
            role.id = user.role
            <if test="name!='' and password!=null">
                and name=#{name}
            </if>
            <if test="password!='' and password!=null">
                and password=#{password}
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
            <if test="role!=null">
                and role=#{role}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
    </select>
    <!--插入一条用户数据-->
    <insert id="insertUser">
        insert into user (name, password, create_user, create_time)
        values (#{name}, #{password}, #{createUser}, #{createTime});
    </insert>
    <!--根据用户ID修改一条用户数据-->
    <update id="updateUserById">
        update user
        <set>
            <if test="name!='' and password!=null">
                name=#{name},
            </if>
            <if test="password!='' and password!=null">
                password=#{password},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="avatar!='' and avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="role!=null">
                role=#{role},
            </if>
            <if test="email!='' and email!=null">
                email=#{email},
            </if>
            <if test="phone!='' and phone!=null">
                phone=#{phone},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="updateUser!=null">
                update_user=#{updateUser},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set>
        where id=#{id};
    </update>
    <!--根据用户ID批量删除用户信息-->
    <delete id="deleteUserById">
        delete
        from user
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>