<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunfeng.dao.mapper.UserProblemMapper">
    <!--字段映射-->
    <resultMap id="userProblemRole" type="com.chunfeng.dao.entity.UserProblem">
        <result column="user_id" property="userId"/>
        <result column="problem_id" property="problemId"/>
    </resultMap>
    <!--条件查询关系-->
    <select id="selectAllUserProblem" resultType="com.chunfeng.dao.entity.UserProblem"
            parameterType="com.chunfeng.dao.entity.UserProblem" resultMap="userProblemRole">
        select id,user_id,problem_id
        from user_problem
        <where>
            <if test="id!='' and id!=null">
                id=#{id}
            </if>
            <if test="userId!='' and userId!=null">
                and user_id=#{userId}
            </if>
            <if test="problemId!='' and problemId!=null">
                and problem_id=#{problemId}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
    </select>
    <!--根据关系ID查询关系信息-->
    <select id="selectAllUserProblemById" resultType="com.chunfeng.dao.entity.UserProblem" resultMap="userProblemRole">
        select id, user_id,problem_id
        from user_problem
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
        ;
    </select>
    <!--按条件批量查询符合条件的个数-->
    <select id="selectAllUserProblemCount" resultType="java.lang.Integer">
        select COUNT(id)
        from user_problem
        <where>
            <foreach collection="ups" item="up" open="(" separator="and" close=")">
                <if test="up.userId!=null and up.userId!=''">
                    user_id=#{id.userId}
                </if>
                <if test="up.problemId!=null and up.problemId!=''">
                    and problem_id=#{id.problemId}
                </if>
                <if test="up.status!=null">
                    and status=#{status}
                </if>
            </foreach>
        </where>
        ;
    </select>
    <!--插入一条关系数据-->
    <insert id="insertUserProblem">
        insert into user_problem (id, problem_id, user_id,status, create_user, create_time)
        <foreach collection="ups" item="up" open="values" separator="," close=";">
            (#{up.id}, #{up.problemId}, #{up.userId},#{up.status}, #{up.createUser}, #{up.createTime})
        </foreach>
    </insert>
    <!--根据关系ID批量修改关系数据-->
    <update id="updateUserProblemById">
        <foreach collection="ups" item="up" separator="," close=";">
            update user_problem
            <set>
                <if test="up.problemId!='' and up.problemId!=null">
                    problem_id=#{up.problemId}
                </if>
                <if test="up.userId!='' and up.userId!=null">
                    ,user_id=#{up.userId}
                </if>
                <if test="up.status!=null">
                    ,status=#{up.status}
                </if>
                <if test="up.updateUser!='' and up.updateUser!=null">
                    ,update_user=#{up.updateUser}
                </if>
                <if test="up.updateTime!='' and up.updateTime!=null">
                    ,update_time=#{up.updateTime}
                </if>
            </set>
            where id=#{id}
        </foreach>
    </update>
    <!--根据关系ID批量解绑关系信息-->
    <delete id="deleteUserProblemById" parameterType="list">
        delete
        from user_problem
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--根据用户ID批量解绑关系信息-->
    <delete id="deleteUserProblemByPro">
        delete
        from user_problem
        where
        user_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--根据试卷ID批量解绑关系信息-->
    <delete id="deleteUserProblemByExam">
        delete
        from user_problem
        where
        problem_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>